* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: black;
    text-align: center;
    padding: 20px 0px;
}

.header img {
    width: 100px;
}

.dog img {
    width: 100%;
}

.rope {
    margin-top: 40px;
}

.rat {
    margin-top: 40px;
}

.cow {
    margin-top: 40px;
}

.monkey {
    margin-top: 40px;
}

.monkey img {
    width: 160px;
}

.parrot {
    height: 70px;
}

.fish {
    margin-top: 40px;
}

.sheep {
    margin-top: 40px;
}

.monkey-img {
    display: flex;
    align-items: center;
}

